/* Global */

* {
    margin: 0;
    padding: 0;
}


/* Page */

/*Scrollbar*/

body::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 12px;
    background-color: rgb(112, 107, 107);
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/*Navbar */
.nav {
    color: white;
    background:linear-gradient(to bottom, rgb(0, 0, 0), rgb(67, 67, 67));
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav a {
  text-decoration: none;
  color: white;
}

.a1{
   margin-left: 70px;
   font-size: 19px;
   text-transform: uppercase;
  
   padding: 3px;
   transition: color 0.5s ease-in;
}

.a2{
   margin-right: 20px;
   transition: color 0.5s ease-in;
}

.a1:hover,
.a2:hover {
    color: lightblue;
}

/* Main*/

.main {
    width: 100%;
    height: 90vh;
    display: flex;
}

.container{
    background-color: white;
    height: 90%;
    width: 90%;
    align-self: center;
    margin: 0 auto;
    display: flex;
    
}

.info_app{

    
     height: 100%;
     width: 60%;


}

.info_me {

    background-color: white;
    height: 100%;
    width: 38%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;

}


.inf_basic{
     height:  25%;
     margin-bottom: 5%;
     width: 100%;
     background-color: white;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 1.5%;
    display: flex;
    flex-direction: row;
}

.inf_story{
    height:  70%;
    width: 100%;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 5%;
}

.story_head{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Josefin Slab', serif;
    margin-bottom: 20px;
}

.pers_info_basic{
 
  height: 95%;
  width: 75%;
  padding: 2.5% 0;
}

.hedd{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Josefin Slab', serif;
    margin-bottom: 20px;
    margin-left: 20px;

}

.tyt{
    margin-left: 20px;
    font-family: 'Josefin Slab', serif;
}

.tyt a {
    text-decoration: none;
    color: #555;
}

.tyt a:hover {
    color: black;
    border-bottom: 1px solid black;
}

.photo{
   
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img{
    height: 80%;
    width: 80%;
    border-radius: 50%;

}

.infa{
    background-color: white;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 95%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 1.5%;
      
}

.headapp{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    margin-bottom: 30px;
}

.infa a {
    text-decoration: none;
    color: #555;
}

.infa a:hover {
    color: black;
    border-bottom: 1px solid black;

}

/*Footer */
.footer {
    width:100%;
    height: 5vh;
    color: white;
    background:linear-gradient(to top, rgb(0, 0, 0), rgb(67, 67, 67));
}

footer{
    text-align: center;
    padding-top: 10px;
}

footer a {
    text-decoration: none;
    color: gray;
}

footer a:hover {
   
    color: white;
}

/* @media only screen and(max-width:800px){

    .main{
     font-size: 12px !important;
    }

    .infa{
        font-size: 10px;
    }

    .txtapp{
        font-size: 10px;
    }

} */

@media only screen and (max-width:800px){

    .main{
        height: 100%;
    }

    .a1 {
        margin-left: 30px;
        font-size: 15px;
    }

    .footer {
        font-size: 15px;
    }

    .info_app{
        width: 100%;
        display: block;
    }

    .info_me{
        width: 100%;

    }

    .container{
        display: flex;
        flex-direction: column;
        font-size: 11px;
    }

    .inf_basic{
        height:  25%;
        margin-bottom: 10px;;
        width: 96.5%;
       padding: 1%;
     
   }

   .photo{
    height: 80%;
    width: 20%;
   }

   .hedd{
    font-size: 15px;
    
    letter-spacing: 0;
    
    margin-bottom: 0;
    margin-left: 20px;

}

.headapp{
    font-size: 18px;
    letter-spacing: 0px;
    margin-bottom: 10px;
}

.inf_story{
    height:  150px;
    width: 100%;
    background-color: white;
    
    padding: 0;
    margin-bottom: 30px;
}

.story_head{
    font-size: 15px;
   
    letter-spacing: 0px;
   
    margin-bottom: 7px;
    margin-top: 10px;
    text-align: center;
}

.infa{
    margin-bottom: 10px;
    margin-top: 15px;
}

}